<!DOCTYPE html>
html(lang="zh-Hant-TW")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 密碼產生器
    link(href="styles/all.css", rel="stylesheet")
  body
    main.bg-light
      .container.py-5
        .row.justify-content-center
          .col-md-4
            h1.text-center 密碼產生器
            form
              .form-group
                .input-group
                  input#result.form-control(name="result", type="text")
                  .input-group-append
                    button#clipboard.btn.btn-outline-secondary(type="button")
                      i.fas.fa-clipboard
              .form-group
                .form-row
                  .col
                    .form-check
                        input#uppercase.form-check-input(name="uppercase", type="checkbox", checked)
                        label.form-check-label(for="uppercase") 包含大寫
                    .form-check
                        input#lowercase.form-check-input(name="lowercase", type="checkbox", checked)
                        label.form-check-label(for="lowercase") 包含小寫
                    .form-check
                        input#number.form-check-input(name="number", type="checkbox", checked)
                        label.form-check-label(for="number") 包含數字
                    .form-check
                        input#symbol.form-check-input(name="symbol", type="checkbox", checked)
                        label.form-check-label(for="symbol") 包含特殊符號
                  .col
                    .form-group
                      label(for="length") 密碼長度
                      input#length.form-control(name="length", type="text", value="15")
              .form-group
                button#generate.btn.btn-primary.btn-block(type="button") 產生密碼
    script(src="scripts/main.js")